<div>
    <label for="{{ name }}-image" class="block text-sm font-medium text-gray-700">Vyberte obrázek</label>
    <input type="file" id="{{ name }}-image" name="{{ name }}-image"
           accept="image/*"
           class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm outline-none focus:ring focus:ring-opacity-30 focus:ring-brown-500 focus:border-brown-500"
           onchange="previewImage(this, TaskId)">

    <div id="{{ name }}-preview" class="mt-4 hidden">
        <h3 class="text-sm font-medium text-gray-700">Náhled obrázku:</h3>
        <div class="mt-2 w-full h-48 border border-gray-300 rounded-md overflow-hidden flex items-center justify-center">
            <img id="{{ name }}-image-preview-name" src="" alt="Náhled obrázku" class="hidden max-h-full max-w-full"/>
        </div>
        <p id="{{ name }}-image-name"  class="mt-1 text-sm text-gray-500"></p>
    </div>
</div>
