{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="max-w-6xl mx-auto py-8">
    <!-- Header with large icon and title -->
    <div class="flex items-center mb-8">
        {% if area.icon %}
            <img src="{{ area.icon.url }}" alt="{{ area.title }}" class="h-16 mx-4">
        {% else %}
            <img src="{% static 'area_placeholder.png' %}" class="h-16 mx-4">
        {% endif %}
        <h1 class="text-3xl font-bold text-gray-700">{{ area.title }}</h1>
    </div>

    <!-- Tabs and add button -->
    <div class="flex">
        <div class="flex space-x-0.5">
            <a href="{% url 'worksheets:worksheets_list' area.pk %}">
                <button class="bg-white text-gray-700 font-medium px-3 py-2 rounded-t-md shadow">Pracovní listy</button>
            </a>
            <button class="bg-brown-500 text-gray-700 font-medium px-3 py-2 rounded-t-md shadow">Rostliny</button>
        </div>

        <a href="{% url 'areas:plants_create' area.pk %}" class="ml-auto bg-pistachio-500 text-white rounded-t-md px-4 pt-3 hover:bg-pistachio-600 shadow-[0px_-2px_3px_rgba(0,0,0,0.1)]">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    <!-- Plant Cards -->
    <div class="bg-white shadow-md rounded-b-md p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

            {% for plant in plants %}
            <div class="border border-gray-200 rounded-md overflow-hidden items-center justify-between flex p-2">

                <div class="w-1/3 flex justify-center">
                {% if plant.image %}
                <img src="{{ plant.image }}" alt="{{ plant.name }}" class="object-contain h-20">
                {% else %}
                <img src="{% static 'plant_placeholder.png' %}" alt="Plant Placeholder" class="w-20 h-20 p-3">
                {% endif %}
                </div>

                <div class="flex flex-col justify-center items-start w-2/3">
                        <h2 class="text-l font-bold text-gray-700">{{ plant.name }}</h2>
                </div>

                <div class="flex space-x-4 p-4">
                    <a href="{% url 'areas:plants_update' area.pk plant.pk %}" class="text-yellow-400 hover:text-yellow-500">
                        <i class="fa fa-edit fa-lg"></i>
                    </a>
                    <button onclick="openModal('{{ plant.pk }}', '{{ area.pk }}', '{{ plant.name }}')" class="text-red-400 hover:text-red-500">
                        <i class="fa-regular fa-trash-can fa-lg"></i>
                    </button>
                </div>
            </div>

            {% empty %}
            <tr class="border-b">
                <td class="py-3 px-4 text-gray-700 max-w-full">Žádné rostliny nebyly nalezeny.</td>
            </tr>

            {% endfor %}
        </div>
    </div>
</div>

{% include 'plants_confirm_delete.html' %}

{% endblock %}
