{% load static %}

<html lang="cs" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pracovní list - Jarní aspekt listnatého lesa</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="font-sans p-8">

<h1 class="text-3xl font-bold text-center mb-8">Jarní aspekt listnatého lesa</h1>

<div class="flex justify-between mb-4">
    <div class="flex-1 px-2">
        <label>Jméno:</label>
        <div class="border-b border-gray-400 mt-1"></div>
    </div>
</div>
<div class="flex justify-between mb-4">
    <div class="flex-1 px-2">
        <label>Datum:</label>
        <div class="border-b border-gray-400 mt-1"></div>
    </div>
    <div class="flex-1 px-2">
        <label>Třída:</label>
        <div class="border-b border-gray-400 mt-1"></div>
    </div>
</div>

<div class="my-10">
    <p class="font-semibold mb-4">2. Poznáš rostliny na obrázcích?</p>
    <p class="mb-3">Velká část rostlin kvete</p>
    <div class="space-y-3 pl-14 space-y-3">
        <label class="flex">
            a) Orsej
        </label>
        <label class="flex">
            b) Bledule
        </label>
        <label class="flex">
            c) Prvosenka
        </label>
    </div>
</div>
</div>

<div class="my-10">
    <p class="font-semibold mb-4">2. Poznáš rostliny na obrázcích?</p>
    <img src="{{ image }}" alt="Květina 2" class="w-1/2 mx-auto rounded-lg shadow-md mb-4">
    <div class="space-y-3 pl-14">
        <label class="flex">a) Orsej</label>
        <label class="flex">b) Bledule</label>
        <label class="flex">c) Prvosenka</label>
    </div>
</div>

<div class="my-10">
    <p class="font-semibold mb-4">2. Poznáš rostliny na obrázcích?</p>
    <div class="flex mb-2">
        <div class="w-2/4"></div>
        <div class="w-1/4 flex items-center justify-center">
            <p class="mb-3">Velká část rostlin kvete</p>
        </div>
        <div class="w-1/4 flex items-center justify-center">
            <p class="mb-3">Velká část rostlin kvete</p>
        </div>
    </div>
    <div class="flex mb-2">
        <div class="w-2/4 flex items-center justify-center">
            <p class="mb-3">Velká část rostlin kvete</p>
        </div>
        <div class="w-1/4 flex items-center justify-center">
            <input type="checkbox" class="h-6 w-6 rounded-md border-gray-300">
        </div>
        <div class="w-1/4 flex items-center justify-center">
            <input type="checkbox" class="h-6 w-6 rounded-md border-gray-300">
        </div>
    </div>
</div>

<div class="my-10">
    <p class="font-semibold my-4">2. Spoj</p>
    <div class="flex gap-4 mb-3">
        <div class="w-1/2 flex items-center justify-center">
            <p class="mb-3">Velká část rostlin kvete</p>
        </div>
        <div class="w-1/2 flex items-center justify-center">
            <p class="mb-3">Velká část rostlin kvete</p>
        </div>
    </div>
</div>

<div class="my-10">
    <p class="font-semibold my-4">2. Spoj</p>
    <img src="{{ image }}" alt="Květina 2" class="w-1/2 mx-auto rounded-lg shadow-md mb-4">
    <div class="flex gap-14 mb-3 px-20">
        <div class="flex-1">
            <label>1.</label>
            <div class="border-b border-gray-400 mt-1"></div>
        </div>
        <div class="flex-1">
            <label>2.</label>
            <div class="border-b border-gray-400 mt-1"></div>
        </div>
    </div>
</div>


</body>
</html>