{% load static %}

<div class="mb-4">
    {% include 'forms/input.html' with name='task-TaskId-text' label='Zadání' placeholder='Doplňte zadání' value='' errors='' %}
</div>

<div class="flex items-center space-x-4 ">
    <label class="block text-sm font-medium text-gray-700">Dvojice</label>
</div>

<div id="QuestionsContainerTaskId">
    <div class="question-row">
        <div class="flex items-end mb-2 space-x-4">
            <div class="w-1/2">
                {% include 'forms/input.html' with name='question_TaskId-0-text' placeholder='Otázka' value='' label='' errors='' %}
            </div>
            <div class="w-1/2">
                {% include 'forms/input.html' with name='option_TaskId-0-text' placeholder='Možnost' value='' label='' errors='' %}
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-2 gap-4 m-4">
    <div class="flex items-center justify-center">
        <button type="button" class="text-red-400 hover:text-red-500 p-2" onclick="removeLastQuestion(TaskId)">
            <i class="fa fa-minus fa-xl"></i>
        </button>
        <button type="button" class="text-pistachio-500 hover:text-pistachio-600 p-2" onclick="addQuestionOptionRow(TaskId)">
            <i class="fa fa-plus fa-xl"></i>
        </button>
    </div>
</div>