{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="max-w-6xl mx-auto py-8 ">
    <!-- Header with large icon a title -->
    <div class="flex items-center mb-8">
        <img src="{% static 'area_placeholder.png' %}" class="h-16 mr-4">
        <h1 class="text-3xl font-bold text-gray-700">{{ area.title }}</h1>
    </div>

    <form id="worksheetForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Tabs and add button -->
        <div class="flex justify-between">
            <div class="flex space-x-0.5">
                <button type="button" class="bg-brown-500 text-gray-700 font-medium px-3 py-2 rounded-t-md shadow-[0px_-2px_3px_rgba(0,0,0,0.1)]">
                    Pracovní listy
                </button>
                <a href="{% url 'areas:plants_list' area.pk %}" class="bg-white text-gray-700 font-medium px-3 py-2 rounded-t-md hover:bg-gray-200 hover:border-gray-700 shadow-[0px_-2px_3px_rgba(0,0,0,0.1),_inset_0_-1px_3px_rgba(0,0,0,0.1)]">
                    Rostliny
                </a>
            </div>
            <div class="flex space-x-0.5">
               <a href="{% url 'worksheets:worksheets_list' area.pk %}" class="ml-auto bg-white text-gray-700 font-medium rounded-t-md px-3 py-2 hover:bg-gray-200 hover:border-gray-700 shadow-[0px_-2px_3px_rgba(0,0,0,0.1)] ">
                    Zrušit
               </a>
               <button type="submit"
                    class="ml-auto bg-pistachio-500 text-white font-medium rounded-t-md px-3 py-2 hover:bg-pistachio-600 shadow-[0px_-2px_3px_rgba(0,0,0,0.1)]">
                    Uložit
               </button>
            </div>
        </div>

        <div class="bg-white shadow-md rounded-b-md p-4">
            <h2 class="text-2xl font-bold text-gray-700 mb-4">
                {% if worksheet and worksheet.pk %}Upravit pracovní list{% else %}Vytvořit pracovní list{% endif %}
            </h2>
            <div class="flex items-top mb-4 space-x-4">
                <div class="w-1/2">
                    {% include 'forms/input.html' with name='title' value=form.title.value label='Název' placeholder='Zadejte název' errors=form.title.errors %}

                    <label class="block text-sm font-medium text-gray-700 pt-4">Určeno pro</label>
                    <div class="border border-gray-300 rounded-md shadow-sm mt-1">

                        {% for school_group in school_groups %}
                        <div class="flex items-center m-2 space-x-4 pl-1">
                            <input type="checkbox" name="school_group" value="{{ school_group.group }}"
                                   id="id_school_group_{{ school_group.group }}" class="h-4 w-4 cursor-pointer rounded-md border-gray-300 text-pistachio-500
                                                                                        checked:border-pistachio-500 focus:ring-2 focus:ring-pistachio-500">
                            <label for="id_school_group_{{ school_group.group }}" class="text-gray-800">{{ school_group.get_group_display }}</label>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>

            <div class="flex items-center mb-4 mt-8">
                <h3 class="text-xl font-bold text-gray-700">Úlohy</h3>
                <button type="button"
                        class="ml-4 bg-pistachio-500 text-white rounded-full w-8 h-8 hover:bg-pistachio-600"
                        onclick="addTask()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            <div id="tasksContainer"></div>

            <div id="addTaskButtonContainer" class="flex justify-center mt-4" style="display: none;">
                <button type="button"
                        class="bg-pistachio-500 text-white rounded-full w-8 h-8 hover:bg-pistachio-600"
                        onclick="addTask()">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>


<script>
    const maxRows = 20;
    const minRows = 1;

    let taskCount = 0;
    let rowCounter = 2;

    document.addEventListener("DOMContentLoaded", function() {
        const tasksData = {{ tasks_data|default:"[]"|safe }};
        tasksData.forEach(taskData => addTask(taskData));

        const selectedSchoolGroups = {{ selected_school_groups|default:"[]"|safe }};
        selectedSchoolGroups.forEach(schoolGroup => {
            document.querySelector(`#id_school_group_${schoolGroup}`).checked = true;
        });
    });

    document.getElementById('worksheetForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const form = event.target;
        const formData = new FormData(form);
        formData.append('worksheet_pk', {% if worksheet %}{{ worksheet.pk }}{% else %}0{% endif %});

        fetch(`/worksheets/check_form_data/`, {
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            clearErrors();
            if (data.status) {
                this.submit()
            }
            else if (data.errors) {
                displayErrors(data.errors);
            }
        })
        .catch(error => {
            console.error('Chyba při odesílání formuláře:', error);
        });
    });

    function displayErrors(errors) {
        let firstErrorField = null;

        for (const [field, message] of Object.entries(errors)) {

            const inputField = document.getElementById(field);
            if (inputField) {
                inputField.classList.add('ring', 'ring-red-500', 'ring-opacity-30');
            }

            const errorElement = document.getElementById(`${field}-error`);
            if (errorElement) {
               errorElement.textContent = message;
            }

            if (!firstErrorField) {
                firstErrorField = errorElement;
            }
        }

        if (firstErrorField) {
            firstErrorField.scrollIntoView({behavior: 'smooth', block: 'center'});
        }
    }

    function clearErrors() {
        document.querySelectorAll(`[id$="error"]`).forEach(el => {
            el.textContent = '';
        });
        document.querySelectorAll('input.ring-red-500').forEach(input => {
            input.classList.remove('ring', 'ring-red-500', 'ring-opacity-30');
        });
    }


    function addTask(data = {}) {
        taskCount++;
        const taskContainer = document.createElement('div');
        taskContainer.className = 'task-form mb-4 p-4 border border-gray-200 rounded-md';
        taskContainer.innerHTML = `
            <div class="flex items-center mb-4">
                <h4 class="text-lg font-bold text-gray-700 flex-1">${taskCount}. úloha</h4>
                <button type="button" class="text-red-400 hover:text-red-500 pr-1" onclick="removeTask(this)">
                     <i class="fa fa-xmark fa-xl"></i>
                </button>
            </div>
            <div class="flex items-center mb-4">
                <div class="w-1/2 pr-2">
                    <label for="task-${taskCount}-type" class="block text-sm font-medium text-gray-700">Typ</label>
                    <select id="task-${taskCount}-type" name="task-${taskCount}-type"
                            class="mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-30 focus:ring-brown-500 focus:border-brown-500"
                            onchange="loadTaskForm(this, ${taskCount})">
                        <option value="">Vyberte typ</option>
                        {% for task_type in task_types %}
                            <option value="{{ task_type.id }}">{{ task_type.get_type_display }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="formContainer${taskCount}"></div>
        `;
        document.getElementById('tasksContainer').appendChild(taskContainer);
        if (data.type) {
            const taskTypeSelect = document.getElementById(`task-${taskCount}-type`)

            taskTypeSelect.value = data.type;
            loadTaskForm(taskTypeSelect, taskCount, data);
        }

        updateTaskNumbers();
        document.getElementById('addTaskButtonContainer').style.display = 'flex';
    }

    function removeTask(button) {
        button.parentElement.parentElement.remove();
        updateTaskNumbers();

        if (taskCount === 0) {
            document.getElementById('addTaskButtonContainer').style.display = 'none';
        }
    }

    function updateTaskNumbers() {
        const tasks = document.querySelectorAll('.task-form');
        tasks.forEach((task, index) => {
            task.querySelector('h4').textContent = `${index + 1}. úloha`;
        });
        taskCount = tasks.length;
    }

    function loadTaskForm(selectElement, taskId, taskData = {}) {
        const type = selectElement.value;
        const formContainer = document.getElementById(`formContainer${taskId}`);

        if (type) {
            fetch(`/worksheets/load_task_form/${type}/`)
                .then(response => response.json())
                .then(data => {
                    formContainer.innerHTML = data.html.replace(/TaskId/g, taskId);

                    if (Object.keys(taskData).length > 0) {
                        populateCommonFields(taskId, taskData);

                        switch (type) {
                            case '1':
                                populateTypeOneFields(taskId, taskData.questions);
                                break;
                            case '2':
                            case '3':
                                populateTypeTwoOrThreeFields(taskId, taskData.questions);
                                break;
                            case '4':
                                populateTypeFourFields(taskId, taskData.questions);
                                break;
                            case '5':
                                populateTypeFiveFields(taskId, taskData.questions);
                                break;
                        }
                    }
                })
                .catch(error => {
                    console.error('Error loading form:', error);
                    formContainer.innerHTML = '<p class="text-red-500">Nastala chyba při načítání formuláře.</p>';
                });
        } else {
            formContainer.innerHTML = '';
        }
    }

    function populateCommonFields(taskId, taskData) {
        document.getElementById(`task-${taskId}-text`).value = taskData.text;

        const preview = document.getElementById(`${taskId}-image-preview-name`);
        const imageName = document.getElementById(`${taskId}-image-name`);
        const container = document.getElementById(`${taskId}-preview`);
        const originalImage = document.getElementById(`${taskId}-image-original`);

        if (preview && (taskData.imageUrl || taskData.imagePk)) {
            originalImage.value = taskData.imagePk;
            imageName.textContent = taskData.imageUrl.split('/').pop();
            preview.src = taskData.imageUrl;
            preview.classList.remove('hidden');
            container.classList.remove('hidden');
        }
    }

    function populateTypeOneFields(taskId, questions) {
        document.getElementById(`option_${taskId}-0-text`).value = questions.options[0];
        document.getElementById(`option_${taskId}-1-text`).value = questions.options[1];

        for (let i = 1; i < questions.rows; i++) {
            addQuestionWithRadio(taskId);
        }

        const taskElements = document.querySelectorAll(`[id^="question_${taskId}-"][id$="-text"]`);
        const leftRadioElements = document.querySelectorAll(`input[id^="option_${taskId}"][id$="-is_correct"][value="is_correct_0"]`);
        const rightRadioElements = document.querySelectorAll(`input[id^="option_${taskId}"][id$="-is_correct"][value="is_correct_1"]`);

        questions.questions.forEach((question, index) => {
            if (index < taskElements.length) {
                taskElements[index].value = question.text;
            } else {
                console.warn(`More questions than fields found for taskId ${taskId}`);
            }

            if (question.correct === 0) {
                leftRadioElements[index].checked = true;
            } else {
                rightRadioElements[index].checked = true;
            }
        });
    }

    function populateTypeTwoOrThreeFields(taskId, questions) {
        if (questions.question) {
            document.getElementById(`question_${taskId}-text`).value = questions.question;
        }

        for (let i = 1; i < questions.rows; i++) {
            addOptionWithCheckbox(taskId);
        }

        const optionElements = document.querySelectorAll(`[id^="option_${taskId}-"][id$="-text"]`);
        const checkboxElements = document.querySelectorAll(`[id^="option_${taskId}-"][id$="-is_correct"]`);

        questions.options.forEach((option, index) => {
            if (index < optionElements.length) {
                optionElements[index].value = option.text;
            } else {
                console.warn(`More options than fields found for taskId ${taskId}`);
            }

            if (option.correct) {
                checkboxElements[index].checked = true;
            }
        });
    }

    function populateTypeFourFields(taskId, questions) {
        document.getElementById(`question_${taskId}-counter`).value = questions.questions;

        for (let i = 1; i < questions.rows; i++) {
            addOptionWithSelect(taskId);
        }

        updateDropdowns(questions.questions, taskId);

        const optionElements = document.querySelectorAll(`[id^="option_${taskId}-"][id$="-text"]`);
        const selectElements = document.querySelectorAll(`[name^="option_${taskId}-"][name$="-is_correct"]`);

        questions.options.forEach((option, index) => {
            if (index < optionElements.length) {
                optionElements[index].value = option.text;
            } else {
                console.warn(`More options than fields found for taskId ${taskId}`);
            }

            if (option.correct) {
                selectElements[index].value = option.correct;
            }
        });
    }

    function populateTypeFiveFields(taskId, questions) {
        for (let i = 1; i < questions.rows; i++) {
            addQuestionOptionRow(taskId);
        }

        const questionElements = document.querySelectorAll(`[id^="question_${taskId}-"][id$="-text"]`);
        const optionElements = document.querySelectorAll(`[id^="option_${taskId}-"][id$="-text"]`);

        questions.questions.forEach((question, index) => {
            if (index < questionElements.length) {
                questionElements[index].value = question.text;
            } else {
                console.warn(`More questions than fields found for taskId ${taskId}`);
            }
            if (question.correct) {
                optionElements[index].value = question.correct;
            }
        });
    }


    function addQuestionWithRadio(taskId) {
        const questionsContainer = document.getElementById(`QuestionsContainer${taskId}`);
        const questionRows = questionsContainer.querySelectorAll('.question-row');

        if (questionRows.length < maxRows) {
            const questionRow = document.createElement('div');
            questionRow.className = 'question-row grid grid-cols-3 gap-4 mb-2';
            questionRow.innerHTML = `
            <div>
                {% include 'forms/input.html' with name='question_${taskId}-${rowCounter}-text' placeholder='Otázka' label='' value='' errors='' %}
            </div>
            <div class="flex items-center justify-center">
                {% include 'forms/radiobutton.html' with name='option_${taskId}-${rowCounter}-is_correct' value='is_correct_0'%}
            </div>
            <div class="flex items-center justify-center">
                {% include 'forms/radiobutton.html' with name='option_${taskId}-${rowCounter}-is_correct' value='is_correct_1'%}
            </div>
            `;
            questionsContainer.appendChild(questionRow);
            rowCounter++;
        }
    }

    function addOptionWithCheckbox(taskId) {
        const questionsContainer = document.getElementById(`QuestionsContainer${taskId}`);
        const questionRows = questionsContainer.querySelectorAll('.question-row');

        if (questionRows.length < maxRows) {
            const questionRow = document.createElement('div');
            questionRow.className = 'question-row';
            questionRow.innerHTML = `
            <div class="flex items-center mb-2 space-x-4">
                <div class="w-1/2 pr-2">
                    {% include 'forms/input.html' with name='option_${taskId}-${rowCounter}-text' placeholder='Možnost' value='' label='' errors='' %}
                </div>
                <div class="flex justify-center w-1/6">
                    {% include 'forms/checkbox.html' with name='option_${taskId}-${rowCounter}-is_correct' size=6 %}
                </div>
            </div>
            `;
            questionsContainer.appendChild(questionRow);
            rowCounter++;
        }
    }

    function addQuestionOptionRow(taskId) {
        const questionsContainer = document.getElementById(`QuestionsContainer${taskId}`);
        const questionRows = questionsContainer.querySelectorAll('.question-row');

        if (questionRows.length < maxRows) {
            const questionRow = document.createElement('div');
            questionRow.className = 'question-row';
            questionRow.innerHTML = `
            <div class="flex items-end mb-2 space-x-4">
                <div class="w-1/2">
                    {% include 'forms/input.html' with name='question_${taskId}-${rowCounter}-text' placeholder='Otázka' value='' label='' errors='' %}
                </div>
                <div class="w-1/2">
                    {% include 'forms/input.html' with name='option_${taskId}-${rowCounter}-text' placeholder='Možnost' value='' label='' errors='' %}
                </div>
            </div>
            `;
            questionsContainer.appendChild(questionRow);
            rowCounter++;
        }
    }

    function addOptionWithSelect(taskId) {
        const questionsContainer = document.getElementById(`QuestionsContainer${taskId}`);
        const questionRows = questionsContainer.querySelectorAll('.question-row');

        if (questionRows.length < maxRows) {
            const questionRow = document.createElement('div');
            questionRow.className = 'question-row';
            questionRow.innerHTML = `
            <div class="flex items-end mb-2 space-x-4">
                <div class="w-1/2">
                    {% include 'forms/input.html' with name='option_${taskId}-${rowCounter}-text' placeholder='Možnost' value='' label='' errors='' %}
                </div>
                <div class="w-1/2">
                    <select name='option_${taskId}-${rowCounter}-is_correct' class="dropdown${taskId} mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:ring focus:ring-opacity-30 focus:ring-brown-500 focus:border-brown-500">
                        <option value="">Vyberte...</option>
                    </select>
                </div>
            </div>
            `;
            questionsContainer.appendChild(questionRow);
            rowCounter++;

            const numQuestions = $(`#question_${taskId}-counter`).val();
            const dropdown = questionRow.querySelector(`.dropdown${taskId}`);
            dropdown.innerHTML = '<option value="">Vyberte...</option>';
            for (let i = 1; i <= numQuestions; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.text = i;
                dropdown.appendChild(option);
            }
        }
    }


    function removeLastQuestion(taskId) {
        const questionsContainer = document.getElementById(`QuestionsContainer${taskId}`);
        const questionRows = questionsContainer.querySelectorAll('.question-row');
        if (questionRows.length > minRows) {
            questionsContainer.removeChild(questionRows[questionRows.length - 1]);
        }
    }

    function updateDropdowns(numQuestions, taskId) {
        const dropdowns = document.querySelectorAll(`.dropdown${taskId}`);
        dropdowns.forEach(function (dropdown) {
            const value = dropdown.value;
            dropdown.innerHTML = '<option value="">Vyberte...</option>';
            for (let i = 1; i <= numQuestions; i++) {
                const option = document.createElement('option');
                option.value = i;
                option.text = i;
                dropdown.appendChild(option);
            }
            if (value) {
                dropdown.value = value;
            }
        });
    }

    function previewImage(input, id) {
        const file = input.files[0];
        const preview = document.getElementById(`${id}-image-preview-name`);
        const imageName = document.getElementById(`${id}-image-name`);
        const container = document.getElementById(`${id}-preview`);

        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.classList.remove('hidden');
            }

            reader.readAsDataURL(file);
            imageName.textContent = file.name;
            container.classList.remove('hidden');
        } else {
            preview.classList.add('hidden');
            imageName.textContent = '';
            container.classList.add('hidden');
        }
    }

</script>


{% endblock %}
