<div id="deleteModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
    <div class="flex items-center justify-center min-h-screen px-4">
        <div class="fixed inset-0 transition-opacity">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <div class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div class="text-red-400 mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full sm:mx-0 sm:h-10 sm:w-10">
                        <i class="fa-regular fa-trash-can fa-xl"></i>
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Smazat pracovní list</h3>
                        <div class="mt-2">
                            <p class="text-sm text-gray-500">Opravdu chcete smazat pracovní list <span id="modal-worksheet-title" class="font-bold"></span>?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 sm:px-6 sm:flex sm:flex-row-reverse">
                <form id="deleteForm" method="post" action="">
                    {% csrf_token %}
                    <button type="button" onclick="closeModal()" class="mt-3 w-full inline-flex justify-center bg-white text-gray-700 font-medium rounded px-4 py-2 h-10 shadow hover:bg-gray-200 hover:border-gray-700 sm:mt-0 sm:w-auto sm:text-sm">
                    Zrušit
                </button>
                    <button type="submit" class="mt-3 w-full inline-flex justify-center bg-red-400 text-white rounded px-3 py-2 shadow font-medium hover:bg-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                        Smazat
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    function openModal(pk, area_pk, title) {
        document.getElementById('modal-worksheet-title').textContent = title;
        document.getElementById('deleteForm').action = '/worksheets/' + area_pk + '/delete/' + pk;
        document.getElementById('deleteModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script>
