{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="max-w-6xl mx-auto py-8">
    <!-- Header with large icon and title -->
    <div class="flex items-center mb-8">
        <svg class="h-16 w-16 text-gray-500 mr-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
        </svg>
        <h1 class="text-3xl font-bold text-gray-700">Oblast</h1>
    </div>

    <!-- Tabs and add button -->
    <div class="flex">
        <div class="flex space-x-0.5">
            <button class="bg-brown-500 text-gray-700 font-medium px-3 py-2 rounded-t-md shadow">Pracovní listy</button>
            <a href="{% url 'areas:plants_list' %}">
                <button class="bg-white text-gray-700 font-medium px-3 py-2 rounded-t-md shadow hover:bg-gray-200 hover:border-gray-700">
                    Rostliny
                </button>
            </a>
        </div>
        <a href="{% url 'worksheets:worksheets_create' area.pk %}" class="ml-auto bg-pistachio-500 text-white rounded-t-md px-4 pt-3 hover:bg-pistachio-600 shadow">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    <!-- Table container -->
    <div class="bg-white shadow-md rounded-b-md p-4">
        <table class="min-w-full bg-white rounded-md overflow-hidden">
            <thead>
            <tr class="text-xs font-semibold text-gray-700 uppercase bg-gray-200">
                <th class="py-2 px-4 w-1/2 text-left">Název
                </th>
                <th class="py-2 px-4">Export bez odpovědí</th>
                <th class="py-2 px-4">Export s odpověďmi</th>
                <th class="py-2 px-4">Upravit</th>
                <th class="py-2 px-4">Smazat</th>
            </tr>
            </thead>
            <tbody>

            {% for worksheet in worksheets %}
            <tr class="border-b  cursor-pointer hover:bg-gray-50"
                onclick="window.location.href='{% url 'worksheets:worksheets_create' area.pk %}'">
                <td class="py-3 px-4 text-gray-700 text-left max-w-full">{{ worksheet.title }}</td>
                <td class="py-3 px-4 text-center">
                    <i class="fas fa-file-export fa-lg text-pistachio-500 hover:text-pistachio-600"></i>
                </td>
                <td class="py-3 px-4 text-center">
                    <i class="fas fa-file-export fa-lg text-blue-400 hover:text-blue-500 cursor-pointer"></i>
                </td>
                <td class="py-3 px-4 text-center">
                    <i class="fas fa-edit fa-lg text-yellow-400 hover:text-yellow-500 cursor-pointer"></i>
                </td>
                <td class="py-3 px-4 text-center">
                    <i class="fas fa-trash-alt fa-lg text-red-400 hover:text-red-500 cursor-pointer"></i>
                </td>
            </tr>

            {% empty %}
            <tr class="border-b">
                <td class="py-3 px-4 text-gray-700 text-left max-w-full">Žádné pracovní listy nebyly nalezeny</td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %}
