{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'navbar.html' %}

<div class="max-w-6xl mx-auto py-8">
    <!-- Header with large icon and title -->
    <div class="flex items-center mb-8">
        {% if area.icon %}
            <img src="{{ area.icon.url }}" alt="{{ area.title }}" class="h-16 mr-4">
        {% else %}
            <img src="{% static 'area_placeholder.png' %}" class="h-16 mr-4">
        {% endif %}
        <h1 class="text-3xl font-bold text-gray-700">{{ area.title }}</h1>
    </div>

    <!-- Tabs and add button -->
    <div class="flex">
        <div class="flex space-x-0.5">
            <button class="bg-brown-500 text-gray-700 font-medium px-3 py-2 rounded-t-md shadow-[0px_-2px_3px_rgba(0,0,0,0.1)]">Pracovní listy</button>
                <a href="{% url 'areas:plants_list' %}" class="bg-white text-gray-700 font-medium px-3 py-2 rounded-t-md hover:bg-gray-200 hover:border-gray-700 shadow-[0px_-2px_3px_rgba(0,0,0,0.1),_inset_0_-1px_3px_rgba(0,0,0,0.1)]">
                    Rostliny
                </a>
        </div>
        <a href="{% url 'worksheets:worksheets_create' area.pk %}" class="ml-auto bg-pistachio-500 text-white rounded-t-md px-4 pt-3 hover:bg-pistachio-600 shadow-[0px_-2px_3px_rgba(0,0,0,0.1)]">
            <i class="fas fa-plus"></i>
        </a>
    </div>

    <!-- Table container -->
    <div class="bg-white shadow-md rounded-b-md p-4">
        <table class="min-w-full bg-white rounded-md overflow-hidden">
            <thead>
            <tr class="text-xs font-semibold text-gray-700 uppercase bg-gray-200">
                <th class="py-2 px-4 w-1/2 text-left">Název
                </th>
                <th class="py-2 px-4">Stáhnout bez odpovědí</th>
                <th class="py-2 px-4">Stáhnout s odpověďmi</th>
                <th class="py-2 px-4">Upravit</th>
                <th class="py-2 px-4">Smazat</th>
            </tr>
            </thead>
            <tbody>

            {% for worksheet in worksheets %}
            <tr class="border-b">
                <td class="py-3 px-4 text-gray-700 text-left max-w-full">{{ worksheet.title }}</td>
                <td class="py-3 px-4 text-center">
                    <a href="{% url 'worksheets:worksheets_export' area.pk worksheet.pk %}" target="_blank">
                        <i class="fas fa-file-export fa-lg text-brown-500 hover:text-brown-600 cursor-pointer"></i>
                    </a>
                </td>
                <td class="py-3 px-4 text-center">
                    <a href="{% url 'worksheets:worksheets_export_with_answers' area.pk worksheet.pk %}" target="_blank">
                        <i class="fas fa-file-export fa-lg text-brown-700 hover:text-brown-800"></i>
                    </a>
                </td>
                <td class="py-3 px-4 text-center">
                    <a href="{% url 'worksheets:worksheets_update' area.pk worksheet.pk %}">
                        <i class="fas fa-edit fa-lg text-yellow-400 hover:text-yellow-500 cursor-pointer"></i>
                    </a>
                </td>
                <td class="py-3 px-4 text-center">
                    <button type="button" onclick="openModal('{{ worksheet.pk }}', '{{ area.pk }}', '{{ worksheet.title }}')">
                        <i class="fas fa-trash-alt fa-lg text-red-400 hover:text-red-500 cursor-pointer"></i>
                    </button>
                </td>
            </tr>

            {% empty %}
            <tr class="border-b">
                <td class="py-3 px-4 text-gray-700 text-left max-w-full">Žádné pracovní listy nebyly nalezeny.</td>
            </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% include 'worksheets_confirm_delete.html' %}

{% endblock %}
