{% load static %}

<nav class="bg-white shadow-md p-4 font-medium text-l relative">
    <div class="container mx-auto max-w-6xl flex justify-between items-center">
        <!-- Left side links -->
        <div class="flex space-x-8">
            <a href="{% url 'areas:area_list' %}"
               class="text-gray-700 hover:bg-brown-500 px-3 py-2 rounded flex items-center">
                <img src="{% static 'map.png' %}" class="h-8 mr-2">
                Oblasti
            </a>
            <a href="#" class="text-gray-700 hover:bg-brown-500 px-3 py-2 rounded flex items-center">
                <img src="{% static 'school.png' %}" class="h-7 mr-2">
                Školy
            </a>
            <a href="#" class="text-gray-700 hover:bg-brown-500 px-3 py-2 rounded flex items-center">
                <img src="{% static 'graph.png' %}" class="h-7 mr-2">
                Statistika
            </a>
        </div>

        <!-- Right side user info and logout button -->
        <form class="flex items-center space-x-8 mb-0" method="post" action="{% url 'logout' %}">
            <span class="text-gray-700">{{ request.user.username }}</span>
            {% csrf_token %}
            <button type="submit" class="text-gray-700 font-medium hover:bg-brown-500 px-3 py-2 rounded">
                Odhlásit
            </button>
        </form>
    </div>

    <!-- Centered logo -->
    <div class="absolute left-1/2 transform -translate-x-1/2 top-1/2 -translate-y-1/2">
        <a href="{% url 'areas:area_list' %}">
            <img src="{% static 'logo.jpg' %}" class="h-12">
        </a>
    </div>
</nav>
